.index-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: black;
}

#root {
  font-family: "inter";
}

main {
  padding: 2rem 1rem;
  background-image: url(/src/assets/react.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
}

.index-header > img {
  height: 4rem;
}

#index-header-text {
  color: #5bd4fc;
  height: inherit;
  font-size: 2rem;
  margin-left: 1rem;
}

.main-header {
  padding: 1rem;
  margin: 0;
  color: white;
  font-size: 4rem;
}

.main-list {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-list > .main-list-items {
  margin-right: 2rem;
  color: white;
  padding: 0.2rem;
  font-size: 1.5rem;
}

.main-list > .main-list-items::marker {
  color: #61dafb;
  margin-right: 0.5rem;
  font-size: 2rem;
}
